body {
	padding: 70px;
}


#yellow {
	color: #B8860B;
}

#yello {
	background-color: #B8860B;
	border-color: #B8860B;
}
.navbar-inverse .navbar-nav>li>a {
    color: #696969 !important; 
}

.navbar-brand {
	color:#696969 !important;
}